fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
langchain
langchain-openai
langchain-google-genai
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
torch
pypdf
openai
mlflow
numpy
python-dotenv
